<div class="container">
  <div class="list-group" id="tiles" maxpage="<%= @maxpage%>">
    <% @jokes.each do |joke|%>
      <h4 class="list-group-item-heading list-group-item">
        <br>
        <%= joke.content%>
        <br><br>
      </h4>
      <br>
    <% end %>
  </div>
</div>
<style type="text/css">

.list-group-item-heading{
  padding-left: 60px;
  padding-right: 60px;
  line-height: 30px;
}
</style>
<script type="text/javascript">
  (function ($){
    $(window).bind('scroll', onScroll); 
    var page = 1;
    var maxpage = $("#tiles")[0].getAttribute("maxpage");
    function onScroll(event){
      var winHeight = window.innerHeight ? window.innerHeight : $(window).height(); // iphone fix
      var closeToBottom = ($(window).scrollTop() + winHeight > $(document).height() - 100);

      if(closeToBottom){
          if(page < maxpage){
            page++;
            $.ajax({
              url: '/jokes/get_jokes_more?page='+page,
              method: 'GET',
              success:function(data){
                $('#tiles').append(data);
              }
            });
          }
      }
    }
  })(jQuery);

</script>