<div class="main_index">
  <img src="<%= File.join(Settings.static_root,'img/2.jpg' ) %>"/>
  <div class="intro">
    <center><p>Designed and Developed by Gu. BY-NC-SA License.</p></center>
    <center><p>Copyright © 2013 - 2014 guyifeng. All Rights Reserved.</p></center>
  </div>
</div>
<style type="text/css">
  body {
    background-color: #eee;
  }
  .main_index {
    margin-top: -10px;
  }
  img {
    width:100%;
    height:100%;
  }

  .intro {
    font-size: 18px;
  }
</style>