<div class="row">
  <div class="col-md-12">
    <h3>修改哲理</h3>
  </div>
  <hr>
<%= form_for(@philosophy,:html => {:role=>'form'}) do |f| %>
  <div class="form-group">
    <label>内容</label>
    <%= f.text_area :content, class:"form-control",:placeholder => "输入内容"%>
  </div>

  <%= f.submit '保存心情',class: "btn btn-success"%>
<% end %>