<div class="row">
  <div class="col-md-9 well form-horizontal col-md-offset-1">
    <%= form_for(@philosophy,:html => {:role=>'form'}) do |f| %>
    <h3>添加哲理</h3>
      <div class="form-group">
        <label class="control-label">内容</label>
        <%= f.text_area :content, class:"form-control",:placeholder => "输入内容"%>
      </div>

      <%= f.submit '保存',class: "btn btn-success"%>
    <% end %>
  </div>
</div>